# global options
  id=/:board_id
  rev=/:board_rev

$(pwd)/out/arch/arm64/boot/dts/samsung/a50/exynos9610-a50_swa_open_00.dtbo
#$(pwd)/out/arch/arm64/boot/dts/samsung/a50/exynos9610-a50_swa_open_01.dtbo
#$(pwd)/out/arch/arm64/boot/dts/samsung/a50/exynos9610-a50_swa_open_02.dtbo
#$(pwd)/out/arch/arm64/boot/dts/samsung/a50/exynos9610-a50_swa_open_03.dtbo
#$(pwd)/out/arch/arm64/boot/dts/samsung/a50/exynos9610-a50_swa_open_04.dtbo
#$(pwd)/out/arch/arm64/boot/dts/samsung/a50/exynos9610-a50_swa_open_06.dtbo

